<mat-card>
  <mat-card-title align="center">Login</mat-card-title>
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <mat-card-content>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary" type="submit" align="center">Login</button>
    </mat-card-actions>
  </form>
  <p>Don't have an account ? <a routerLink="/register">Register here</a></p>
</mat-card>